<h1>Hola Mundo</h1>

<div>
  <h1>Ng Class & NgStyle</h1>
  <input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
  <hr class="line-error" [ngClass]="{'valid': nameInput4.valid, 'invalid': nameInput4.invalid}" />

  <p class="messageError" [class.invalid]="nameInput4.invalid">
    Este campo es requerido!.
  </p>

  <div class="styles">
    <div>
      <input type="number" [(ngModel)]="box.width">
      <input type="number" [(ngModel)]="box.height">
      <input type="color" [(ngModel)]="box.background">
    </div>
    <div>
      <div [ngStyle]="{
        'width.px': box.width,
        'height.px': box.height,
        'background-color': box.background,
        'display': 'block'
      }"></div>
    </div>
  </div>
</div>

<div>
  <hr>
  <h1>Clases y estilos</h1>
  <input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
  <p class="messageError" [class.invalid]="nameInput2.invalid">
    Este campo es requerido!.
  </p>
  <label for="Nombe">Nombre</label>
  <input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
  <p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto</p>

  <div class="styles">
    <div>
      <input type="text" [(ngModel)]="widthImg" />
    </div>
    <div>
      <img [style.width.%]="widthImg" [src]="img" alt="img" />
    </div>
  </div>
  <hr />
</div>

<div>
  <h1>ngSwitch</h1>
  <input type="text" required [(ngModel)]="person.name" />

  <div [ngSwitch]="person.name">
    <p *ngSwitchCase="'daniel'">La persona es Daniel</p>
    <p *ngSwitchCase="'eberlin'">La persona es Eberlin</p>
    <p *ngSwitchDefault>No hay match con ninguno</p>
  </div>

  <hr />
</div>

<div>
  <input type="text" [(ngModel)]="person.name" />

  <p *ngIf="person.name.toLowerCase() === 'daniel'">
    Soy Daniel!! Render Condicionado
  </p>
  <p
    *ngIf="
      person.name.toLowerCase() === 'eberlin' && person.age === 18;
      else secondP
    "
  >
    Soy Eberlin!! Render 2
  </p>
  <ng-template #secondP>
    <p>Aqui mostramos el else</p>
  </ng-template>
</div>
<hr />

<div>
  <h1>NgFor</h1>
  <ul>
    <li *ngIf="!emojis.length">No hay emojis 😑</li>
    <li *ngFor="let emoji of emojis; index as i">
      {{ i }} {{ emoji }}

      <button (click)="deleteEmoji(i)">X</button>
    </li>
  </ul>

  <p>Agrega un emoji</p>
  <input type="text" [(ngModel)]="newEmoji" />
  <button (click)="addEmoji()">Add Emoji!</button>
  <hr />
</div>

<div>
  <h1>ngFor para objetos</h1>
  <div class="products--grid">
    <div *ngFor="let product of products">
      <img [src]="product.image" alt="" />
      <h2>{{ product.name }}</h2>
      <p>{{ product.price }}</p>
    </div>
  </div>
  <hr />
</div>
<h2>Hola, soy {{ person.name }} y tengo {{ person.age }} de edad</h2>

<input type="text" [value]="person.name" (keyup)="changeName($event)" />

<button [disabled]="btnDisable">Enviar</button>

<progress max="100" [value]="person.age"></progress>

<img width="100" [src]="img" alt="img" />

<button (click)="toogleBtn()">Cambiar el estado</button>
<button (click)="incrementAge()">Ager ++</button>

<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque perferendis
    iste vero nobis! Tempora nisi veniam explicabo aliquam rem dolorem dolore
    error repellendus amet ex atque eveniet, minima autem omnis! Lorem ipsum,
    dolor sit amet consectetur adipisicing elit. Pariatur odio debitis cumque
    adipisci nesciunt, maxime nisi repellat, totam assumenda quis at! Iure
    numquam quae illum tenetur quod rerum aperiam minus! Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Quo natus perspiciatis dolorum vitae
    porro recusandae quas reiciendis perferendis voluptatibus, harum delectus
    illum quia rerum facere sunt ex doloremque! Repellat, a! Lorem, ipsum dolor
    sit amet consectetur adipisicing elit. Culpa blanditiis incidunt consequatur
    numquam soluta? Repellendus ipsam, perferendis tempore possimus recusandae
    neque laboriosam laborum dolores iste fuga libero hic quia totam?
  </p>
</div>

<div>
  <p>Nombre de la persona {{ person.name }}</p>
  <input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />

  <p>Valid: {{ nameInput.valid }}</p>

  <p>Edad de la persona {{ person.age }}</p>
  <input
    type="number"
    max="20"
    min="5"
    required
    #ageInput="ngModel"
    [(ngModel)]="person.age"
  />

  <p>Valid: {{ ageInput.valid }}</p>
</div>
